In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [2]:
df=pd.read_csv('Prayagraj_Traffic_Data.csv')

In [3]:
df.shape

(10080, 23)

In [4]:
df.isnull().mean()*100

record_id             0.972222
date                  0.962302
timestamp             0.962302
intersection_id       0.912698
intersection_name     1.160714
latitude              1.051587
longitude             1.150794
vehicle_count         1.111111
average_speed         0.734127
signal_cycle_time     1.071429
green_time            0.912698
yellow_time           0.882937
red_time              1.011905
weather_condition     0.773810
day_of_week           0.932540
is_weekend            0.000000
is_holiday            1.031746
event                91.468254
pollution_level       1.041667
car_count             0.962302
bus_count             0.942460
truck_count           1.051587
motorcycle_count      0.992063
dtype: float64

In [5]:
df.head()

,record_id,date,timestamp,intersection_id,intersection_name,latitude,longitude,vehicle_count,average_speed,signal_cycle_time,...,weather_condition,day_of_week,is_weekend,is_holiday,event,pollution_level,car_count,bus_count,truck_count,motorcycle_count
0,9926.0,07-01-2023,21:20:00,6.0,Allahabad Junction,25.44,81.83,75.0,39.72,120.0,...,Clear,Saturday,weekend,0.0,NaN,1.21,48.0,4.0,6.0,17.0
1,8595.0,06-01-2023,23:10:00,5.0,Naini Bridge,25.41,81.86,139.0,30.33,120.0,...,Clear,Friday,workday,0.0,NaN,2.86,89.0,13.0,17.0,20.0
2,673.0,01-01-2023,11:10:00,3.0,Chowk,25.43,81.84,20.0,53.28,120.0,...,Clear,Sunday,weekend,1.0,NaN,0.34,15.0,1.0,2.0,2.0
3,8744.0,07-01-2023,01:40:00,4.0,Tagore Town,25.47,81.89,21.0,36.06,120.0,...,Heavy Rain,Saturday,weekend,0.0,NaN,0.54,12.0,4.0,2.0,3.0
4,316.0,01-01-2023,05:10:00,6.0,Allahabad Junction,25.44,81.83,41.0,47.21,120.0,...,Clear,Sunday,weekend,1.0,NaN,0.86,26.0,6.0,2.0,7.0

In [6]:
df.drop(['date', 'day_of_week','latitude', 'longitude', 'record_id'], axis=1)

,timestamp,intersection_id,intersection_name,vehicle_count,average_speed,signal_cycle_time,green_time,yellow_time,red_time,weather_condition,is_weekend,is_holiday,event,pollution_level,car_count,bus_count,truck_count,motorcycle_count
0,21:20:00,6.0,Allahabad Junction,75.0,39.72,120.0,63.0,4.0,53.0,Clear,weekend,0.0,NaN,1.21,48.0,4.0,6.0,17.0
1,23:10:00,5.0,Naini Bridge,139.0,30.33,120.0,51.0,4.0,65.0,Clear,workday,0.0,NaN,2.86,89.0,13.0,17.0,20.0
2,11:10:00,3.0,Chowk,20.0,53.28,120.0,69.0,5.0,46.0,Clear,weekend,1.0,NaN,0.34,15.0,1.0,2.0,2.0
3,01:40:00,4.0,Tagore Town,21.0,36.06,120.0,59.0,4.0,57.0,Heavy Rain,weekend,0.0,NaN,0.54,12.0,4.0,2.0,3.0
4,05:10:00,6.0,Allahabad Junction,41.0,47.21,120.0,NaN,5.0,54.0,Clear,weekend,1.0,NaN,0.86,26.0,6.0,2.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10075,06:00:00,4.0,Tagore Town,23.0,52.53,120.0,50.0,5.0,65.0,Clear,workday,0.0,Local Market Fair,0.43,14.0,2.0,2.0,5.0
10076,15:00:00,2.0,Katra,34.0,53.72,120.0,63.0,5.0,52.0,Clear,workday,1.0,NaN,0.57,20.0,4.0,0.0,10.0
10077,03:40:00,5.0,Naini Bridge,22.0,40.91,120.0,60.0,5.0,55.0,Fog,workday,0.0,NaN,0.41,13.0,0.0,5.0,4.0
10078,19:20:00,9.0,MNNIT Gate,273.0,21.58,120.0,82.0,4.0,34.0,Light Rain,workday,0.0,NaN,5.58,167.0,26.0,32.0,48.0
10079,09:30:00,5.0,Naini Bridge,114.0,33.92,120.0,62.0,5.0,53.0,Clear,workday,1.0,NaN,2.34,68.0,10.0,15.0,21.0

In [7]:
df['event'] = df['event'].apply(lambda x: 0 if pd.isna(x) else 1)

In [8]:
df['is_weekend'] = df['is_weekend'].map({'weekend': 1, 'workday': 0})

In [9]:
df=df.drop(['date', 'day_of_week','latitude', 'longitude', 'record_id','intersection_id'], axis=1)

In [10]:
df

,timestamp,intersection_name,vehicle_count,average_speed,signal_cycle_time,green_time,yellow_time,red_time,weather_condition,is_weekend,is_holiday,event,pollution_level,car_count,bus_count,truck_count,motorcycle_count
0,21:20:00,Allahabad Junction,75.0,39.72,120.0,63.0,4.0,53.0,Clear,1.0,0.0,0,1.21,48.0,4.0,6.0,17.0
1,23:10:00,Naini Bridge,139.0,30.33,120.0,51.0,4.0,65.0,Clear,0.0,0.0,0,2.86,89.0,13.0,17.0,20.0
2,11:10:00,Chowk,20.0,53.28,120.0,69.0,5.0,46.0,Clear,1.0,1.0,0,0.34,15.0,1.0,2.0,2.0
3,01:40:00,Tagore Town,21.0,36.06,120.0,59.0,4.0,57.0,Heavy Rain,1.0,0.0,0,0.54,12.0,4.0,2.0,3.0
4,05:10:00,Allahabad Junction,41.0,47.21,120.0,NaN,5.0,54.0,Clear,1.0,1.0,0,0.86,26.0,6.0,2.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10075,06:00:00,Tagore Town,23.0,52.53,120.0,50.0,5.0,65.0,Clear,0.0,0.0,1,0.43,14.0,2.0,2.0,5.0
10076,15:00:00,Katra,34.0,53.72,120.0,63.0,5.0,52.0,Clear,0.0,1.0,0,0.57,20.0,4.0,0.0,10.0
10077,03:40:00,Naini Bridge,22.0,40.91,120.0,60.0,5.0,55.0,Fog,0.0,0.0,0,0.41,13.0,0.0,5.0,4.0
10078,19:20:00,MNNIT Gate,273.0,21.58,120.0,82.0,4.0,34.0,Light Rain,0.0,0.0,0,5.58,167.0,26.0,32.0,48.0
10079,09:30:00,Naini Bridge,114.0,33.92,120.0,62.0,5.0,53.0,Clear,0.0,1.0,0,2.34,68.0,10.0,15.0,21.0

In [11]:
df.isnull().mean()*100

timestamp            0.962302
intersection_name    1.160714
vehicle_count        1.111111
average_speed        0.734127
signal_cycle_time    1.071429
green_time           0.912698
yellow_time          0.882937
red_time             1.011905
weather_condition    0.773810
is_weekend           0.952381
is_holiday           1.031746
event                0.000000
pollution_level      1.041667
car_count            0.962302
bus_count            0.942460
truck_count          1.051587
motorcycle_count     0.992063
dtype: float64

In [12]:
X = df.drop(columns=['event'])
y = df['event']

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [14]:
X_train.shape, X_test.shape

((8064, 16), (2016, 16))

In [15]:
X_train.isnull().mean()*100

timestamp            0.967262
intersection_name    1.264881
vehicle_count        1.140873
average_speed        0.768849
signal_cycle_time    1.029266
green_time           0.954861
yellow_time          0.892857
red_time             0.880456
weather_condition    0.744048
is_weekend           0.954861
is_holiday           1.004464
pollution_level      0.942460
car_count            0.954861
bus_count            0.967262
truck_count          1.004464
motorcycle_count     0.992063
dtype: float64

In [16]:
mean_vehicle_count = X_train['vehicle_count'].mean()

mean_average_speed = X_train['average_speed'].mean()

mean_green_time = X_train['green_time'].mean()

mean_yellow_time = X_train['yellow_time'].mean()

mean_red_time = X_train['red_time'].mean()

mean_pollution_level = X_train['pollution_level'].mean()

mean_car_count = X_train['car_count'].mean()

mean_bus_count = X_train['bus_count'].mean()

mean_truck_count = X_train['truck_count'].mean()

mean_motorcycle_count = X_train['motorcycle_count'].mean()

In [17]:
X_train['vehicle_count'] = X_train['vehicle_count'].fillna(mean_vehicle_count)

X_train['average_speed'] = X_train['average_speed'].fillna(mean_average_speed)

X_train['green_time'] = X_train['green_time'].fillna(mean_green_time)

X_train['yellow_time'] = X_train['yellow_time'].fillna(mean_yellow_time)

X_train['red_time'] = X_train['red_time'].fillna(mean_red_time)

X_train['pollution_level'] = X_train['pollution_level'].fillna(mean_pollution_level)

X_train['car_count'] = X_train['car_count'].fillna(mean_car_count)

X_train['bus_count'] = X_train['bus_count'].fillna(mean_bus_count)

X_train['truck_count'] = X_train['truck_count'].fillna(mean_truck_count)

X_train['motorcycle_count'] = X_train['motorcycle_count'].fillna(mean_motorcycle_count)

In [18]:
X_train['signal_cycle_time'] = 120.0
X_test['signal_cycle_time'] = 120.0

In [31]:
X_train

,timestamp,intersection_name,vehicle_count,average_speed,signal_cycle_time,green_time,yellow_time,red_time,weather_condition,is_weekend,is_holiday,pollution_level,car_count,bus_count,truck_count,motorcycle_count
8689,23:20:00,Minto Park,62.0,40.01,120.0,61.0,6.0,53.0,Clear,0.0,1.0,1.29,32.000000,6.0,8.0,16.000000
831,09:40:00,Phaphamau,192.0,28.96,120.0,87.0,5.0,28.0,Clear,0.0,0.0,4.43,117.000000,23.0,27.0,25.000000
2568,05:10:00,Tagore Town,126.0,29.58,120.0,62.0,2.0,56.0,Cold Wave,0.0,0.0,2.10,75.000000,10.0,7.0,34.000000
5445,07:50:00,Chowk,132.0,33.32,120.0,58.0,4.0,58.0,Clear,1.0,0.0,2.71,79.000000,15.0,12.0,26.000000
1365,03:20:00,Chowk,63.0,31.48,120.0,56.0,5.0,59.0,Fog,0.0,1.0,1.56,36.000000,11.0,6.0,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,06:30:00,MNNIT Gate,71.0,26.08,120.0,53.0,3.0,64.0,Heavy Rain,0.0,0.0,1.62,39.000000,9.0,9.0,14.000000
2514,15:10:00,Chowk,113.0,33.63,120.0,60.0,4.0,56.0,Clear,0.0,0.0,2.18,67.000000,11.0,10.0,25.000000
6637,13:40:00,Tagore Town,110.0,36.09,120.0,50.0,5.0,65.0,Clear,0.0,NaN,2.06,62.000000,6.0,16.0,26.000000
2575,18:30:00,Allahabad Junction,153.0,26.49,120.0,78.0,4.0,38.0,Light Rain,0.0,0.0,3.00,66.676099,17.0,11.0,30.000000
7336,16:00:00,Naini Bridge,67.0,36.27,120.0,52.0,4.0,64.0,Light Rain,0.0,1.0,1.49,42.000000,8.0,8.0,22.183492